---
title: Adil Omary
---
<!-- First Section -->
<section id="home">
  <div class="overlay">
    <nav role="navigation">
      <ul class="vertical-list">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About me</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>
        <span>Adil Omary</span>
        <small>Full-Stack Developer</small>
      </h1>
      <ul class="social-links vertical-list">
        <li><a href="https://www.linkedin.com/in/adil-omary/" class="noir" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/AdilOmary" class="noir" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</section>
<!-- End of First Section -->
<!-- Second Section -->
<section id="about">
  <div class="container">
    <h2>A little about me...</h2>
    <div class="row info">
      <div class="col-md-4">
        <img src="https://avatars1.githubusercontent.com/u/59479470?s=460&u=aaa19f2ad23ce62555065ab959dd98c4e376c19b&v=4" alt="Adil Omary" class="img-responsive img-circle">
      </div>
      <div class="col-sm-8">
        <p>A former Financial Advisor in a French Bank, who went to Le Wagon Tokyo Bootcamp to learn how to code. Now I'm currently still learning new technologies, building WebApps, and looking for an opportunity in Paris.</p>
      </div>
      <div id="skill-set">
        <h3>Skills</h3>
        <ul class="vertical-list">
          <li>
            <ul class="vertical-list skills" id="web-development-skills">
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>Ruby</li>
              <li>Rails</li>
              <li></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>